[Unit]
Description = OpenStack apmec service

[Service]
ExecReload = /bin/kill -HUP $MAINPID
TimeoutStopSec = 300
KillMode = process
WorkingDirectory = /tmp
ExecStart=/usr/local/bin/apmec-server --config-file /etc/apmec/apmec.conf

[Install]
WantedBy = multi-user.target
